body {
        text-align: center;
        border: 8px solid blue;
        background-color: green;
      }

table {
    text-align: center;
    margin-left:auto; 
    margin-right:auto; 
    border: 2px solid black;
}
th {
    text-align: center;
}  
